body {
    //min-height: 2000px;
    padding-top: 70px;
}

.imagen-brand {
    height: 20px;
    width: 20px;
}

#canvas {
    border: 1px solid #000;
    box-shadow: 2px 2px 10px #333;
    border-color: black
}

#botonera {
    margin-left: 20px;
    margin-top: 20px;
}

.botones {
    display: inline;
    height: 32px;
    width: 32px;
}

#rellenoFondo {
    background: #333;
    border: 2px solid #000;
    border-radius: 5px 5px 5px 5px;
    height: 50px;
    margin-bottom: 10px;
    width: 50px;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}